@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  height: 100%;
  background-color: #f8fafc; /* same as bg-slate-50 */
  color: #0f172a; /* same as text-slate-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
